body{
	font-family: Arial,sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
}
div{box-sizing: ;}
header{
	background: url(../img/first-bg.jpg) no-repeat center top/cover;
	height: 100vh;
}
.container {
	width: 930px;
	margin: 0 auto;
}
.logo{
	margin-top: 41px;
}
nav {
	float: right;
	margin-top: 37px;
	}
menu {
	display: block;
	margin: 0;
	padding: 0;
}

.menu li {
	float: left;
	display: block;
	font-size: 14px;
	margin-right: 41px;
}
.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
.titles__first {
	font-size:40px;
	margin-top:277px;
	color:#fff;
	text-transform:uppercase;
	text-align: center;
}
h1 {
	font-size:75px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 25px;
}
.button {
	background:#fed136;
	color:#484543;
	border-radius:3px;
	display: block;
	font-size:18px;
	width:241px;
	padding: 20px 0;
	margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-transform: uppercase;
    text-align:center;
    font-weight: bold;
    margin-top: 45px;
}
.title {
	margin-top: 121px;
}
.title h2 {
	font-size:40px;
	text-transform:uppercase;
	text-align:center;
	font-weight:bold;
	margin: 0;

}
.title p {
	font-size: 16px;
	color: #777;
	text-align: center;
	margin-top: 8px;

}
.servises__item{
	width: 260px;
	float: left;
	text-align: center;
	margin-left: 80;
	margin-top: 82px;

}
.servises__item p {
	font-size: 14px;
	color: #777;
	line-height: 21px;
	height: 67px;
	width: 271px;
	padding-bottom: 116px;
}
.servises__item h3 {
	font-size: 18px;
	margin-bottom: 15px;
}
.servises title {
	margin-top: 121px;
}
.servises__item:last-child{
	float: right;	
}
.servises__item:nth-child(2) {
	margin-left: 80px;
}
#servises {
	padding-bottom: 415px;
}
#portfolio{
	background: #f7f7f7;
    width: auto;
	height:700px;
	text-align: center;
}
.title1 {
	padding-top: 85px;
}
.title1 h3 {
	font-size:40px ;
	text-transform:uppercase;
	margin-bottom: 15px;
}
.title1 p {
	font-size: 16px;
	color: #777;
}
.works {
	float: left;
	margin-top: 70px;
	margin-right: 19px;
}
.title2 h3{
	font-size: 40px;
	color: #222;
	text-transform:uppercase;
	margin-bottom: 15px;
}
.title2 p{
	font-size: 16px;
	color: #777;
}
.title2 {
	text-align: center;
	margin-top: 120px;
	height: 200px;
	width: auto;
}
.about__jpg1 {
	text-align: center;
	width: 185px;
	margin-left: 380px;
	margin-bottom: 90px;
	margin-top: -40px;
}
.about__jpg {
	text-align: center;
	width: 185px;
	margin-left: 380px;
	margin-bottom: 90px;
	margin-top: 90px;
}
.about__text h4 {
	font-size: 18px;
	padding-bottom: 0px;
	color: #222;
}
.about__text p {
	font-size: 14px;
	margin-top: 0px;
	color: #777;
}
.about__text h3 {
	text-transform: uppercase;
	padding-bottom: 12px;
	color: #222;
}
.about__text {
    width: 300px;
    height: 190px;
	margin: 0 auto;
	margin-left: 615px;
	margin-top: -280px;
}
.about__text1 {
	text-align: right;
	width: 300px;
    height: 190px;
	margin: auto;
	margin-right: 600px;
	margin-top: -280px;
}
.about__text1 h3{
	margin: 0;
    padding: 0;
    padding-bottom: 12px;
    font-size: 18px;
    color: #222;
}
.about__text1 h4 {
	margin: 0;
    padding-bottom: 20px;
    font-size: 18px;
    color: #222;
}
.about__text1 p {
	margin: 0;
    padding: 0;
    line-height:20px;
    font-size: 14px;
    color: #777;
}
.about__text h3{
	margin: 0;
    padding-bottom: 14px;
    font-size: 18px;
}
.about__text h4 {
	margin: 0;
  	padding-bottom: 20px;    
  	font-size: 18px;
}
.about__text p {
	margin: 0;
    padding: 0;
    line-height:20px;
    font-size: 14px;
}
.about__us {
	width: auto;
}

.copyright__2014 {
	text-align: center;
	padding-bottom: 110px;
	padding-top: 110px;
	color: #777;
	font-size: 14px;

}